<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<Configuration status="off">
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout>
                <pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}], %-5p, %t, %c, %m%n</pattern>
            </PatternLayout>
        </Console>
        <RollingFile name="FILE" fileName="./log/appLog.log" filePattern="appLog-%d{yyyy-MM-dd}-%i.log">
            <TimeBasedTriggeringPolicy />
<!--            <SizeBasedTriggeringPolicy size="100MB" /> -->
            <DefaultRolloverStrategy max="3"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="STDOUT" level="INFO"/>
<!--            <AppenderRef ref="FILE" /> -->
        </Root>
    </Loggers>
</Configuration>